@import '../../styles/every-styles';
.message{
    .card{
        .messageImg{
            width: 60px;
            height: 60px;
        }
    }
}



@media only screen and (max-width:992px){
    .message{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}